@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #05070a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Para ocultar las barras de scroll feas */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}